
// Git
// -------------------

// Used to color git status
/*
.status > span              { color: @text-color; }
.status-added > span    { color: @text-color-success; } // green
.status-ignored > span  { color: @text-color-subtle; }  // faded
.status-modified > span { color: @text-color-warning; } // orange
.status-removed > span { color: @text-color-error; }   // red
.status-renamed > span { color: @text-color-info; }    // blue
*/

.status-modified > .header.list-item {
	color: @text-color-warning;
}
