.modal.overlay.from-top {
	font-family: @main-font;
	background: @background-color-highlight;
}

.bottom { //	Search menu
	color: @text-color-dark;
	font-family: @main-font;
	background: #DFE2E2;
}

.header-item.options-label.pull-right > span { color: @text-color-dark; }
.header-item.description > span { color: @text-color-dark; }

.editor.mini {
	border: 1px solid #B2B5B5;
	font-size: 12.5px;
	font-family: @main-font;
	background: #FFFFFF;
}
.editor.mini.is-focused {
	color: @text-color-dark;
	font-size: 12.5px;
	font-family: @main-font;
	background: #FFFFFF;
}
